BODY {
	SCROLLBAR-FACE-COLOR: #c8dafa; FONT-SIZE: 9pt; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #9ebdf6; COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #9ebdf6; SCROLLBAR-ARROW-COLOR: #a7c4f7; SCROLLBAR-TRACK-COLOR: #f5f5f5; SCROLLBAR-DARKSHADOW-COLOR: #ffffff; background-color:#EBEEF1}
.np {
	FONT-SIZE: 18px; BACKGROUND-IMAGE: url(../images/menu_bg_02.gif); CURSOR: hand; COLOR: black; FONT-FAMILY: "Webdings"
}
A {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: underline
}
.fontt {
	FONT-SIZE: 12px; COLOR: #1A62C8; FONT-FAMILY: "ו"
}
.bg {
	BACKGROUND-POSITION: left top; BACKGROUND-REPEAT: no-repeat
}
